pipeline/PL_CoreEntities_B.json
{
	"name": "PL_CoreEntities_B",
	"properties": {
		"activities": [
			{
				"name": "Core_B_Entities",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RunStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGet_PipelineParameters_Entities]",
						"storedProcedureParameters": {
							"entityType": {
								"type": "String",
								"value": "Core_B"
							},
							"pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PipelineName",
									"type": "Expression"
								}
							},
							"sequenceGroup": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SequenceGroup",
									"type": "Expression"
								}
							},
							"srcSystem": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Entity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Core_B_Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Core_B_Entities').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Delete Transformed",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "PipelineParameters LogStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Datalake_PipeDelimited",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().DatalakeContainer",
											"type": "Expression"
										},
										"Directory": {
											"value": "@item().DatalakeDirectory_Transformed",
											"type": "Expression"
										},
										"Filename": {
											"value": "@item().DatalakeFilename",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "PipelineParameters LogStart",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogStart]",
								"storedProcedureParameters": {
									"dtLastPipelineRunStart": {
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"guidLastPipelineRun": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"strEntity": {
										"value": {
											"value": "@item().Entity",
											"type": "Expression"
										},
										"type": "String"
									},
									"strSourceSystem": {
										"value": {
											"value": "@item().SrcSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"strEntityType": {
										"value": {
											"value": "@item().EntityType",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Control",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "If RowsCopied",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "OH to Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Delete Transformed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('OH to Staging').output.rowsCopied,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "PipelineParameters LogEnd",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
											"storedProcedureParameters": {
												"dtLastPipelineRunEnd": {
													"value": {
														"value": "@{utcnow()}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"strEntity": {
													"value": {
														"value": "@item().Entity",
														"type": "Expression"
													},
													"type": "String"
												},
												"strEntityType": {
													"value": {
														"value": "@item().EntityType",
														"type": "Expression"
													},
													"type": "String"
												},
												"strLastPipelineRunStatus": {
													"value": {
														"value": "Succeeded",
														"type": "Expression"
													},
													"type": "String"
												},
												"strSourceSystem": {
													"value": {
														"value": "@item().SrcSystem",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Control",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Destination to Config",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Switch Entity",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "CommonDataServiceForAppsSource",
												"query": {
													"value": "@item().FetchXML",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "SqlServerSink",
												"writeBehavior": "upsert",
												"upsertSettings": {
													"useTempDB": true,
													"keys": [
														"phg_integrationkey"
													]
												},
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate"
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": false
										},
										"inputs": [
											{
												"referenceName": "DS_Dataverse",
												"type": "DatasetReference",
												"parameters": {
													"EntityName": {
														"value": "@item().DestEntity",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SQL_OnPrem_Tbl",
												"type": "DatasetReference",
												"parameters": {
													"ServerName": {
														"value": "@item().SrcServer",
														"type": "Expression"
													},
													"DatabaseName": {
														"value": "@item().SrcDatabase",
														"type": "Expression"
													},
													"SchemaName": "d365",
													"TableName": {
														"value": "@item().DestEntity",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Switch Entity",
										"type": "Switch",
										"dependsOn": [
											{
												"activity": "Staging to Transformed",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().Entity",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "Property",
													"activities": [
														{
															"name": "Trfd_to_Dest - Property",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.00:10:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"enableSkipIncompatibleRow": true,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_addressline1",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_addressline1",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_addressline2",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_addressline2",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_addressline3",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_addressline3",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_addressline4",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_addresstowncity",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_blockreference",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_blockreference",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_builddate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_builddate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_buildtypeid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_buildtypeid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_dateoffinaldisposal",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_dateoffinaldisposal",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_electricmeterserialnumber",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_electricmeterserialnumber",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_estatecode",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_estatecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_floorplanurl",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_floorplanurl",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_fuelservicedate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_fuelservicedate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_heatingtypeid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_heatingtypeid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_gasmeterserialnumber",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_gasmeterserialnumber",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_managementareaid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_managementareaid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_maximumnumberofoccupants",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_maximumnumberofoccupants",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_name",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_numberofbathrooms",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_numberofbathrooms",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_numberofbedrooms",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_numberofbedrooms",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_numberoffloors",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_numberoffloors",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_numberofreceptionrooms",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_numberofreceptionrooms",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_ownedbycustomer",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_ownedbycustomer",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_ownedbyphg",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_ownedbyphg",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_parishid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_parishid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_plotnumber",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_plotnumber",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_postcode",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_postcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_propertyfloorlevel",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_propertyfloorlevel",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_propertystatus",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_propertystatus",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_substatus",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_substatus",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_propertytype",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_propertytype",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_subareacode",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_subareacode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_uprn",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_uprn",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_wardcode",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_wardcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_sharedownership",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_sharedownership",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_lift",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_lift",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_anyadaptions",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_anyadaptions",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_parkingspace",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_parkingspace",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_cookersupply",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_cookersupply",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_garden",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_garden",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_gascapped",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_gascapped",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_checksum",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_checksum",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_indefectperiod",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_indefectperiod",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_nsom",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_nsom",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_formerarrearsofficer",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_formerarrearsofficer",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_estatesofficer",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_estatesofficer",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_arrearsofficer",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_arrearsofficer",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_rentofficer",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_rentofficer",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_repairsofficer",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_repairsofficer",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_surveyor",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_surveyor",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_operatingdivision",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_operatingdivision",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_localauthority",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_localauthority",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_areaid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_areaid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_subareaid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_subareaid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_propertydeveloper",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_propertydeveloper",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_repaircontractor",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_repaircontractor",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_gasservicer",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_gasservicer",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_waterauthority",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_waterauthority",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_systemorigin",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_systemorigin",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_righttopurchase",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_righttopurchase",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_internalblockaccessid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_internalblockaccessid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_blockid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_blockid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_landenvironmentid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_landenvironmentid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_ttotalcharges",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_ttotalcharges",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_rentcollector",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_rentcollector",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_joballowed",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_joballowed",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_placetype",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_placetype",
																				"type": "String"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - Property",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Property",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - Property').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "PipelineAuditDetailLog_2 Property",
															"type": "Copy",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Property",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'Trfd_to_Dest - Property' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('Trfd_to_Dest - Property').output.rowsCopied}' as RowsCopied,\n'@{activity('Trfd_to_Dest - Property').output.rowsRead}' as RowsRead,\n'@{activity('Trfd_to_Dest - Property').output.rowsSkipped}' as RowsSkipped,\n'@{activity('Trfd_to_Dest - Property').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Trfd_to_Dest - Property').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Trfd_to_Dest - Property').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('Trfd_to_Dest - Property').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Trfd_to_Dest - Property').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Trfd_to_Dest - Property').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Trfd_to_Dest - Property').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Trfd_to_Dest - Property').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Trfd_to_Dest - Property').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Trfd_to_Dest - Property').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS,\n2 as CopyActivity_Stage,\n'@{pipeline().parameters.SequenceGroup}' as SequenceGroup\n\n",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "AzureSqlSink",
																	"writeBehavior": "insert",
																	"sqlWriterUseTableLock": false
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_SQL_Control",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_SQL_Control_Tbl",
																	"type": "DatasetReference",
																	"parameters": {
																		"SchemaName": "dbo",
																		"TableName": "PipelineAuditDetailLog"
																	}
																}
															]
														}
													]
												},
												{
													"value": "Tenancy",
													"activities": [
														{
															"name": "Trfd_to_Dest - Tenancy",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"enableSkipIncompatibleRow": true,
																"validateDataConsistency": false,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "phg_balance",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_balance",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_name",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_rentcharges",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_rentcharges",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_grossrent",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_grossrent",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_netcharge",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_netcharge",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_totalservicechargeamount",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_totalservicechargeamount",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_paymentmethod",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_paymentmethod",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_housingbenefitreceived",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_housingbenefitreceived",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_allpayref",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_allpayref",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_tenancycategoryid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_tenancycategoryid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_tenancyenddate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_tenancyenddate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_tenancystartdate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_tenancystartdate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_expectedtenancyenddate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_expectedtenancyenddate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_tenancytypeid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_tenancytypeid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_urn",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_urn",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_correspondenceaddress",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_correspondenceaddress",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_addresstype",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_addresstype",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_startdate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_startdate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_enddate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_enddate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "transactioncurrencyid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "transactioncurrencyid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "statecode",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "statecode",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "statuscode",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "statuscode",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_checksum",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_checksum",
																				"type": "String"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - Tenancy",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Tenancy",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - Tenancy').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "PipelineAuditDetailLog_2 Tenancy",
															"type": "Copy",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Tenancy",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'Trfd_to_Dest - Tenancy' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('Trfd_to_Dest - Tenancy').output.rowsCopied}' as RowsCopied,\n'@{activity('Trfd_to_Dest - Tenancy').output.rowsRead}' as RowsRead,\n'@{activity('Trfd_to_Dest - Tenancy').output.rowsSkipped}' as RowsSkipped,\n'@{activity('Trfd_to_Dest - Tenancy').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Trfd_to_Dest - Tenancy').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Trfd_to_Dest - Tenancy').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('Trfd_to_Dest - Tenancy').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Trfd_to_Dest - Tenancy').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Trfd_to_Dest - Tenancy').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Trfd_to_Dest - Tenancy').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Trfd_to_Dest - Tenancy').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Trfd_to_Dest - Tenancy').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Trfd_to_Dest - Tenancy').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS,\n2 as CopyActivity_Stage,\n'@{pipeline().parameters.SequenceGroup}' as SequenceGroup\n\n",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "AzureSqlSink",
																	"writeBehavior": "insert",
																	"sqlWriterUseTableLock": false
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_SQL_Control",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_SQL_Control_Tbl",
																	"type": "DatasetReference",
																	"parameters": {
																		"SchemaName": "dbo",
																		"TableName": "PipelineAuditDetailLog"
																	}
																}
															]
														}
													]
												},
												{
													"value": "Contact",
													"activities": [
														{
															"name": "Trfd_to_Dest - Contact",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"enableSkipIncompatibleRow": true,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "donotbulkemail",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "donotbulkemail",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "donotemail",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "donotemail",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "donotphone",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "donotphone",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "donotpostalmail",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "donotpostalmail",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "preferredcontactmethodcode",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "preferredcontactmethodcode",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "emailaddress1",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "emailaddress1",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "firstname",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "firstname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "fullname",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "fullname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "lastname",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "lastname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "middlename",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "middlename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mobilephone",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "mobilephone",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_age",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_age",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_dateofbirth",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_dateofbirth",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_dateofdeath",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_dateofdeath",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_ethnicgroup",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_ethnicgroup",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_nationaility",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_nationaility",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_ninumber",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_ninumber",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_previousname",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_previousname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_relgion",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_relgion",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_sexuality",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_sexuality",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_doyouconsideryourselftobedisabled",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_doyouconsideryourselftobedisabled",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "telephone2",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "telephone2",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "gendercode",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "gendercode",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_systemorigin",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_systemorigin",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_primarytenancy",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_primarytenancy",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_primaryproperty",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_primaryproperty",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_checksum",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_checksum",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_personreferencenumber",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_personreferencenumber",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_emailaddresspriority",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_emailaddresspriority",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_homephonepriority",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_homephonepriority",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_mobilephonepriority",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_mobilephonepriority",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "salutation",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "salutation",
																				"type": "String"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - Contact",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Contact",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - Contact').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "PipelineAuditDetailLog_2 Contact",
															"type": "Copy",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Contact",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'Trfd_to_Dest - Contact' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('Trfd_to_Dest - Contact').output.rowsCopied}' as RowsCopied,\n'@{activity('Trfd_to_Dest - Contact').output.rowsRead}' as RowsRead,\n'@{activity('Trfd_to_Dest - Contact').output.rowsSkipped}' as RowsSkipped,\n'@{activity('Trfd_to_Dest - Contact').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Trfd_to_Dest - Contact').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Trfd_to_Dest - Contact').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('Trfd_to_Dest - Contact').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Trfd_to_Dest - Contact').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Trfd_to_Dest - Contact').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Trfd_to_Dest - Contact').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Trfd_to_Dest - Contact').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Trfd_to_Dest - Contact').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Trfd_to_Dest - Contact').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS,\n2 as CopyActivity_Stage,\n'@{pipeline().parameters.SequenceGroup}' as SequenceGroup\n\n",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "AzureSqlSink",
																	"writeBehavior": "insert",
																	"sqlWriterUseTableLock": false
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_SQL_Control",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_SQL_Control_Tbl",
																	"type": "DatasetReference",
																	"parameters": {
																		"SchemaName": "dbo",
																		"TableName": "PipelineAuditDetailLog"
																	}
																}
															]
														}
													]
												}
											]
										}
									},
									{
										"name": "PipelineAuditDetailLog_3",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Destination to Config",
												"dependencyConditions": [
													"Completed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'Destination to Config' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('Destination to Config').output.rowsCopied}' as RowsCopied,\n'@{activity('Destination to Config').output.rowsRead}' as RowsRead,\n0 as RowsSkipped,\n'@{activity('Destination to Config').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Destination to Config').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Destination to Config').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('Destination to Config').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Destination to Config').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Destination to Config').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Destination to Config').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Destination to Config').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Destination to Config').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Destination to Config').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS,\n3 as CopyActivity_Stage,\n'@{pipeline().parameters.SequenceGroup}' as SequenceGroup\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_Control",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SQL_Control_Tbl",
												"type": "DatasetReference",
												"parameters": {
													"SchemaName": "dbo",
													"TableName": "PipelineAuditDetailLog"
												}
											}
										]
									},
									{
										"name": "Staging to Transformed",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Switch Entity - Staging",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": true,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_OnPrem_Tbl",
												"type": "DatasetReference",
												"parameters": {
													"ServerName": {
														"value": "@item().SrcServer",
														"type": "Expression"
													},
													"DatabaseName": {
														"value": "@item().SrcDatabase",
														"type": "Expression"
													},
													"SchemaName": {
														"value": "@item().SrcSchema",
														"type": "Expression"
													},
													"TableName": {
														"value": "@item().SrcTable",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Datalake_PipeDelimited",
												"type": "DatasetReference",
												"parameters": {
													"Container": {
														"value": "@item().DatalakeContainer",
														"type": "Expression"
													},
													"Directory": {
														"value": "@item().DatalakeDirectory_Transformed",
														"type": "Expression"
													},
													"Filename": {
														"value": "@item().DatalakeFilename",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "PipelineAuditDetailLog_1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Staging to Transformed",
												"dependencyConditions": [
													"Completed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'Staging to Transformed' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('Staging to Transformed').output.rowsCopied}' as RowsCopied,\n'@{activity('Staging to Transformed').output.rowsRead}' as RowsRead,\n'@{activity('Staging to Transformed').output.rowsSkipped}' as RowsSkipped,\n'@{activity('Staging to Transformed').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Staging to Transformed').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Staging to Transformed').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('Staging to Transformed').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Staging to Transformed').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Staging to Transformed').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Staging to Transformed').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Staging to Transformed').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Staging to Transformed').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Staging to Transformed').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS,\n1 as CopyActivity_Stage,\n'@{pipeline().parameters.SequenceGroup}' as SequenceGroup\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_Control",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SQL_Control_Tbl",
												"type": "DatasetReference",
												"parameters": {
													"SchemaName": "dbo",
													"TableName": "PipelineAuditDetailLog"
												}
											}
										]
									},
									{
										"name": "Switch Entity - Staging",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().Entity",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "Property",
													"activities": [
														{
															"name": "Update - stg_phg_property",
															"description": "updates the following fields \n\n [phg_indefectperiod]\n,[phg_nsom]\n,[phg_cookersupply]\n,[phg_gascapped]\n,[phg_fuelservicedate]\n\nin the [stg_phg_property] table",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[adf].[spUpdate_stg_phg_property]"
															},
															"linkedServiceName": {
																"referenceName": "SqlServer_OnPrem",
																"type": "LinkedServiceReference",
																"parameters": {
																	"ServerName": {
																		"value": "@item().SrcServer",
																		"type": "Expression"
																	},
																	"DatabaseName": {
																		"value": "@item().srcDatabase",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												}
											]
										}
									}
								]
							}
						},
						{
							"name": "PipelineAuditDetailLog_0",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "OH to Staging",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'OH to Staging' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('OH to Staging').output.rowsCopied}' as RowsCopied,\n'@{activity('OH to Staging').output.rowsRead}' as RowsRead,\n'@{activity('OH to Staging').output.rowsSkipped}' as RowsSkipped,\n'@{activity('OH to Staging').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('OH to Staging').output.copyDuration}' as CopyDuration_SS,\n'@{activity('OH to Staging').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('OH to Staging').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('OH to Staging').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('OH to Staging').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('OH to Staging').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('OH to Staging').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('OH to Staging').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('OH to Staging').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS,\n0 as CopyActivity_Stage,\n'@{pipeline().parameters.SequenceGroup}' as SequenceGroup\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_Control",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_Control_Tbl",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "dbo",
										"TableName": "PipelineAuditDetailLog"
									}
								}
							]
						},
						{
							"name": "OH to Staging",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "PipelineParameters LogStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": {
										"value": "@concat(item().SrcSchema,'.',item().SrcStoredProcedure)",
										"type": "Expression"
									},
									"storedProcedureParameters": {
										"dtLastPipelineRun": {
											"type": "Datetime",
											"value": {
												"value": "@item().LastSuccessfulPipelineRunStart",
												"type": "Expression"
											}
										},
										"strLoadType": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.LoadType",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('truncate table ', item().SrcSchema, '.', item().SrcTable )}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_OnPrem",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@item().SrcServer",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@item().SrcDatabase",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().SrcSchema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_OnPrem_Tbl",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@item().SrcServer",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@item().SrcDatabase",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().srcSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().SrcTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "RunStart",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunStart",
					"value": {
						"value": "@string(utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RunEnd",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Entity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunEnd",
					"value": {
						"value": "@string(utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Duration_SS",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunEnd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Duration_SS",
					"value": {
						"value": "@string(div(sub(ticks(formatDateTime(variables('RunEnd'))),ticks(formatDateTime(variables('RunStart')))),10000000))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PipelineAuditLog - Start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RunStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spInsert_PipelineAuditLog_Start]",
					"storedProcedureParameters": {
						"dtRunStart": {
							"value": {
								"value": "@variables('RunStart')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"dtTriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"strDataFactory": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strPipeline": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strStatus": {
							"value": "In Progress",
							"type": "String"
						},
						"strTriggeredByPipelineName": {
							"value": {
								"value": "@{pipeline()?.TriggeredByPipelineName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strTriggeredByPipelineRunID": {
							"value": {
								"value": "@{pipeline()?.TriggeredByPipelineRunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strTriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strTriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"uniqGroupID": {
							"value": {
								"value": "@{pipeline().GroupId}",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"uniqRunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"uniqTriggerID": {
							"value": {
								"value": "@guid()",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"strSequenceList": {
							"value": "[C]",
							"type": "String"
						},
						"strLoadType": {
							"value": {
								"value": "@pipeline().parameters.LoadType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Control",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PipelineAuditLog - End - Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Duration_SS",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spUpdate_PipelineAuditLog_End]",
					"storedProcedureParameters": {
						"dtRunEnd": {
							"value": {
								"value": "@variables('RunEnd')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"intDuration_SS": {
							"value": {
								"value": "@variables('Duration_SS')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"strStatus": {
							"value": "Succeeded",
							"type": "String"
						},
						"uniqRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Control",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PipelineAuditLog - End - Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Entity",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spUpdate_PipelineAuditLog_End]",
					"storedProcedureParameters": {
						"dtRunEnd": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"intDuration_SS": {
							"value": "0",
							"type": "Int32"
						},
						"strStatus": {
							"value": "Failed",
							"type": "String"
						},
						"uniqRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Control",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "string"
			},
			"SourceSystemName": {
				"type": "string"
			},
			"SequenceGroup": {
				"type": "int"
			},
			"LoadType": {
				"type": "string"
			}
		},
		"variables": {
			"RunStart": {
				"type": "String"
			},
			"RunEnd": {
				"type": "String"
			},
			"Duration_SS": {
				"type": "String"
			}
		},
		"folder": {
			"name": "OH_D365_DataSync/Child Packages"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-19T16:58:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}