pipeline/PL_InactiveEntities.json
{
	"name": "PL_InactiveEntities",
	"properties": {
		"activities": [
			{
				"name": "Inactive_Entities",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RunStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGet_PipelineParameters_Entities]",
						"storedProcedureParameters": {
							"entityType": {
								"type": "String",
								"value": "Inactive"
							},
							"pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PipelineName",
									"type": "Expression"
								}
							},
							"sequenceGroup": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SequenceGroup",
									"type": "Expression"
								}
							},
							"srcSystem": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Entity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Inactive_Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Inactive_Entities').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Delete Transformed",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "PipelineParameters LogStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Datalake_PipeDelimited",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().DatalakeContainer",
											"type": "Expression"
										},
										"Directory": {
											"value": "@item().DatalakeDirectory_Transformed",
											"type": "Expression"
										},
										"Filename": {
											"value": "@item().DatalakeFilename",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "PipelineParameters LogStart",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogStart]",
								"storedProcedureParameters": {
									"dtLastPipelineRunStart": {
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"guidLastPipelineRun": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"strEntity": {
										"value": {
											"value": "@item().Entity",
											"type": "Expression"
										},
										"type": "String"
									},
									"strSourceSystem": {
										"value": {
											"value": "@item().SrcSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"strEntityType": {
										"value": {
											"value": "@item().EntityType",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Control",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "If RowsCopied",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "OH to Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Delete Transformed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('OH to Staging').output.rowsCopied,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "PipelineParameters LogEnd",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
											"storedProcedureParameters": {
												"dtLastPipelineRunEnd": {
													"value": {
														"value": "@{utcnow()}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"strEntity": {
													"value": {
														"value": "@item().Entity",
														"type": "Expression"
													},
													"type": "String"
												},
												"strEntityType": {
													"value": {
														"value": "@item().EntityType",
														"type": "Expression"
													},
													"type": "String"
												},
												"strLastPipelineRunStatus": {
													"value": "Succeeded",
													"type": "String"
												},
												"strSourceSystem": {
													"value": {
														"value": "@item().SrcSystem",
														"type": "Expression"
													},
													"type": "String"
												},
												"intDestEntityRowCount": {
													"value": null,
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Control",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Destination to Config",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Switch Entity",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "CommonDataServiceForAppsSource",
												"query": {
													"value": "@item().FetchXML",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "SqlServerSink",
												"writeBehavior": "upsert",
												"upsertSettings": {
													"useTempDB": true,
													"keys": [
														"phg_integrationkey"
													]
												},
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate"
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": false
										},
										"inputs": [
											{
												"referenceName": "DS_Dataverse",
												"type": "DatasetReference",
												"parameters": {
													"EntityName": {
														"value": "@item().DestEntity",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SQL_OnPrem_Tbl",
												"type": "DatasetReference",
												"parameters": {
													"ServerName": {
														"value": "@item().SrcServer",
														"type": "Expression"
													},
													"DatabaseName": {
														"value": "@item().SrcDatabase",
														"type": "Expression"
													},
													"SchemaName": "d365",
													"TableName": {
														"value": "@item().DestEntity",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Switch Entity",
										"type": "Switch",
										"dependsOn": [
											{
												"activity": "Staging to Transformed",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().Entity",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "Transaction",
													"activities": [
														{
															"name": "Trfd_to_Dest - Transaction",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"enableSkipIncompatibleRow": true,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "statecode",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "statecode",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "statuscode",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "statuscode",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - Transaction",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Transaction",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - Transaction').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"intDestEntityRowCount": {
																		"value": null,
																		"type": "Int32"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "PipelineAuditDetailLog_2 Transaction",
															"type": "Copy",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Transaction",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'Trfd_to_Dest - Transaction' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('Trfd_to_Dest - Transaction').output.rowsCopied}' as RowsCopied,\n'@{activity('Trfd_to_Dest - Transaction').output.rowsRead}' as RowsRead,\n'@{activity('Trfd_to_Dest - Transaction').output.rowsSkipped}' as RowsSkipped,\n'@{activity('Trfd_to_Dest - Transaction').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Trfd_to_Dest - Transaction').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Trfd_to_Dest - Transaction').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('Trfd_to_Dest - Transaction').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Trfd_to_Dest - Transaction').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Trfd_to_Dest - Transaction').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Trfd_to_Dest - Transaction').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Trfd_to_Dest - Transaction').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Trfd_to_Dest - Transaction').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Trfd_to_Dest - Transaction').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS,\n2 as CopyActivity_Stage,\n'@{pipeline().parameters.SequenceGroup}' as SequenceGroup\n\n",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "AzureSqlSink",
																	"writeBehavior": "insert",
																	"sqlWriterUseTableLock": false
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_SQL_Control",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_SQL_Control_Tbl",
																	"type": "DatasetReference",
																	"parameters": {
																		"SchemaName": "dbo",
																		"TableName": "PipelineAuditDetailLog"
																	}
																}
															]
														}
													]
												},
												{
													"value": "DiaryNote",
													"activities": [
														{
															"name": "Trfd_to_Dest - DiaryNote",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"enableSkipIncompatibleRow": true,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "statecode",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "statecode",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "statuscode",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "statuscode",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineAuditDetailLog_2 DiaryNote",
															"type": "Copy",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - DiaryNote",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'Trfd_to_Dest - DiaryNote' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('Trfd_to_Dest - DiaryNote').output.rowsCopied}' as RowsCopied,\n'@{activity('Trfd_to_Dest - DiaryNote').output.rowsRead}' as RowsRead,\n'@{activity('Trfd_to_Dest - DiaryNote').output.rowsSkipped}' as RowsSkipped,\n'@{activity('Trfd_to_Dest - DiaryNote').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Trfd_to_Dest - DiaryNote').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Trfd_to_Dest - DiaryNote').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('Trfd_to_Dest - DiaryNote').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Trfd_to_Dest - DiaryNote').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Trfd_to_Dest - DiaryNote').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Trfd_to_Dest - DiaryNote').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Trfd_to_Dest - DiaryNote').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Trfd_to_Dest - DiaryNote').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Trfd_to_Dest - DiaryNote').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS,\n2 as CopyActivity_Stage,\n'@{pipeline().parameters.SequenceGroup}' as SequenceGroup\n\n",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "AzureSqlSink",
																	"writeBehavior": "insert",
																	"sqlWriterUseTableLock": false
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_SQL_Control",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_SQL_Control_Tbl",
																	"type": "DatasetReference",
																	"parameters": {
																		"SchemaName": "dbo",
																		"TableName": "PipelineAuditDetailLog"
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - DiaryNote",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - DiaryNote",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - DiaryNote').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"intDestEntityRowCount": {
																		"value": null,
																		"type": "Int32"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														}
													]
												}
											]
										}
									},
									{
										"name": "PipelineAuditDetailLog_3",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Destination to Config",
												"dependencyConditions": [
													"Completed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'Destination to Config' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('Destination to Config').output.rowsCopied}' as RowsCopied,\n'@{activity('Destination to Config').output.rowsRead}' as RowsRead,\n0 as RowsSkipped,\n'@{activity('Destination to Config').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Destination to Config').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Destination to Config').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('Destination to Config').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Destination to Config').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Destination to Config').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Destination to Config').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Destination to Config').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Destination to Config').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Destination to Config').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS,\n3 as CopyActivity_Stage,\n'@{pipeline().parameters.SequenceGroup}' as SequenceGroup\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_Control",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SQL_Control_Tbl",
												"type": "DatasetReference",
												"parameters": {
													"SchemaName": "dbo",
													"TableName": "PipelineAuditDetailLog"
												}
											}
										]
									},
									{
										"name": "Staging to Transformed",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": true,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_OnPrem_Tbl",
												"type": "DatasetReference",
												"parameters": {
													"ServerName": {
														"value": "@item().SrcServer",
														"type": "Expression"
													},
													"DatabaseName": {
														"value": "@item().SrcDatabase",
														"type": "Expression"
													},
													"SchemaName": {
														"value": "@item().SrcSchema",
														"type": "Expression"
													},
													"TableName": {
														"value": "@item().SrcTable",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Datalake_PipeDelimited",
												"type": "DatasetReference",
												"parameters": {
													"Container": {
														"value": "@item().DatalakeContainer",
														"type": "Expression"
													},
													"Directory": {
														"value": "@item().DatalakeDirectory_Transformed",
														"type": "Expression"
													},
													"Filename": {
														"value": "@item().DatalakeFilename",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "PipelineAuditDetailLog_1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Staging to Transformed",
												"dependencyConditions": [
													"Completed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[spInsert_PipelineAuditDetailLog]",
											"storedProcedureParameters": {
												"dtCopyActivity_EndTime": {
													"value": {
														"value": "@{utcnow()}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"dtCopyActivity_StartTime": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.executionDetails[0].start}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"dtTriggerTime": {
													"value": {
														"value": "@{pipeline().TriggerTime}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"intCopyActivity_Stage": {
													"value": "1",
													"type": "Int32"
												},
												"intParallelCopies": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.usedParallelCopies}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"intRowsCopied": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.rowsCopied}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"intRowsRead": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.rowsRead}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"intRowsSkipped": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.rowsSkipped}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"intSequenceGroup": {
													"value": {
														"value": "@{pipeline().parameters.SequenceGroup}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"strCopyActivity": {
													"value": "Staging to Transformed",
													"type": "String"
												},
												"strCopyActivity_QueuingDuration_SS": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.executionDetails[0].detailedDurations.queuingDuration}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strCopyActivity_TimeToFirstByte_SS": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.executionDetails[0].detailedDurations.queuingDuration}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strCopyActivity_TransferDuration_SS": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.executionDetails[0].detailedDurations.transferDuration}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strCopyDuration_SS": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.copyDuration}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strDataFactory": {
													"value": {
														"value": "@{pipeline().DataFactory}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strDestination": {
													"value": {
														"value": "@{item().DestEntity}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strEffectiveIntegrationRuntime": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.effectiveIntegrationRuntime}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strExecutionStatus": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.executionDetails[0].status}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strPipeline": {
													"value": {
														"value": "@{pipeline().Pipeline}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strSinkType": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.executionDetails[0].sink.type}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strSource": {
													"value": {
														"value": "@{item().SrcStoredProcedure}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strSourceType": {
													"value": {
														"value": "@{activity('Staging to Transformed').output.executionDetails[0].source.type}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strSrcSystem": {
													"value": {
														"value": "@{item().SrcSystem}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strTriggerName": {
													"value": {
														"value": "@{pipeline().TriggerName}",
														"type": "Expression"
													},
													"type": "String"
												},
												"strTriggerType": {
													"value": {
														"value": "@{pipeline().TriggerType}",
														"type": "Expression"
													},
													"type": "String"
												},
												"uniqRunID": {
													"value": {
														"value": "@{pipeline().RunId}",
														"type": "Expression"
													},
													"type": "Guid"
												},
												"uniqTriggerID": {
													"value": {
														"value": "@{pipeline().TriggerId}",
														"type": "Expression"
													},
													"type": "Guid"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Control",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "OH to Staging",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Destination to Source - Prep",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": {
										"value": "@concat(item().SrcSchema,'.',item().SrcStoredProcedure)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('truncate table ', item().SrcSchema, '.', item().SrcTable )}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "entity",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Entity",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "phg_integrationkey",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "phg_integrationkey",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "statecode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "statecode",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "statuscode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "statuscode",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_OnPrem",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@item().SrcServer",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@item().SrcDatabase",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().SrcSchema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_OnPrem_Tbl",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@item().SrcServer",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@item().SrcDatabase",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().srcSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().SrcTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Destination to Source - Prep",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "PipelineParameters LogStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CommonDataServiceForAppsSource",
									"query": {
										"value": "@item().FetchXML",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('truncate table d365.',item().DestEntity)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Dataverse",
									"type": "DatasetReference",
									"parameters": {
										"EntityName": {
											"value": "@item().DestEntity",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_OnPrem_Tbl",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@item().SrcServer",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@item().SrcDatabase",
											"type": "Expression"
										},
										"SchemaName": "d365",
										"TableName": {
											"value": "@item().DestEntity",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "PipelineAuditDetailLog_0",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "OH to Staging",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spInsert_PipelineAuditDetailLog]",
								"storedProcedureParameters": {
									"dtCopyActivity_EndTime": {
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"dtCopyActivity_StartTime": {
										"value": {
											"value": "@{activity('OH to Staging').output.executionDetails[0].start}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"dtTriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"intCopyActivity_Stage": {
										"value": "0",
										"type": "Int32"
									},
									"intParallelCopies": {
										"value": {
											"value": "@{activity('OH to Staging').output.usedParallelCopies}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"intRowsCopied": {
										"value": {
											"value": "@{activity('OH to Staging').output.rowsCopied}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"intRowsRead": {
										"value": {
											"value": "@{activity('OH to Staging').output.rowsRead}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"intRowsSkipped": {
										"value": {
											"value": "@{activity('OH to Staging').output.rowsSkipped}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"intSequenceGroup": {
										"value": {
											"value": "@{pipeline().parameters.SequenceGroup}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"strCopyActivity": {
										"value": "OH to Staging",
										"type": "String"
									},
									"strCopyActivity_QueuingDuration_SS": {
										"value": {
											"value": "@{activity('OH to Staging').output.executionDetails[0].detailedDurations.queuingDuration}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strCopyActivity_TimeToFirstByte_SS": {
										"value": {
											"value": "@{activity('OH to Staging').output.executionDetails[0].detailedDurations.queuingDuration}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strCopyActivity_TransferDuration_SS": {
										"value": {
											"value": "@{activity('OH to Staging').output.executionDetails[0].detailedDurations.transferDuration}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strCopyDuration_SS": {
										"value": {
											"value": "@{activity('OH to Staging').output.copyDuration}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strDataFactory": {
										"value": {
											"value": "@{pipeline().DataFactory}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strDestination": {
										"value": {
											"value": "@{item().DestEntity}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strEffectiveIntegrationRuntime": {
										"value": {
											"value": "@{activity('OH to Staging').output.effectiveIntegrationRuntime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strExecutionStatus": {
										"value": {
											"value": "@{activity('OH to Staging').output.executionDetails[0].status}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strPipeline": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strSinkType": {
										"value": {
											"value": "@{activity('OH to Staging').output.executionDetails[0].sink.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strSource": {
										"value": {
											"value": "@{item().SrcStoredProcedure}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strSourceType": {
										"value": {
											"value": "@{activity('OH to Staging').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strSrcSystem": {
										"value": {
											"value": "@{item().SrcSystem}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strTriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"strTriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									},
									"uniqRunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"uniqTriggerID": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Control",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "RunStart",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunStart",
					"value": {
						"value": "@string(utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RunEnd",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Entity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunEnd",
					"value": {
						"value": "@string(utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Duration_SS",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunEnd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Duration_SS",
					"value": {
						"value": "@string(div(sub(ticks(formatDateTime(variables('RunEnd'))),ticks(formatDateTime(variables('RunStart')))),10000000))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PipelineAuditLog - Start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RunStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spInsert_PipelineAuditLog_Start]",
					"storedProcedureParameters": {
						"dtRunStart": {
							"value": {
								"value": "@variables('RunStart')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"dtTriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"strDataFactory": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strPipeline": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strStatus": {
							"value": "In Progress",
							"type": "String"
						},
						"strTriggeredByPipelineName": {
							"value": {
								"value": "@{pipeline()?.TriggeredByPipelineName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strTriggeredByPipelineRunID": {
							"value": {
								"value": "@{pipeline()?.TriggeredByPipelineRunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strTriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strTriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"uniqGroupID": {
							"value": {
								"value": "@{pipeline().GroupId}",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"uniqRunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"uniqTriggerID": {
							"value": {
								"value": "@guid()",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"strSequenceList": {
							"value": "[I]",
							"type": "String"
						},
						"strLoadType": {
							"value": {
								"value": "@pipeline().parameters.LoadType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Control",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PipelineAuditLog - End - Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Duration_SS",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spUpdate_PipelineAuditLog_End]",
					"storedProcedureParameters": {
						"dtRunEnd": {
							"value": {
								"value": "@variables('RunEnd')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"intDuration_SS": {
							"value": {
								"value": "@variables('Duration_SS')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"strStatus": {
							"value": "Succeeded",
							"type": "String"
						},
						"uniqRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Control",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PipelineAuditLog - End - Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Entity",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spUpdate_PipelineAuditLog_End]",
					"storedProcedureParameters": {
						"dtRunEnd": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"intDuration_SS": {
							"value": "0",
							"type": "Int32"
						},
						"strStatus": {
							"value": "Failed",
							"type": "String"
						},
						"uniqRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Control",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "string"
			},
			"SourceSystemName": {
				"type": "string"
			},
			"SequenceGroup": {
				"type": "int"
			},
			"LoadType": {
				"type": "string"
			}
		},
		"variables": {
			"RunStart": {
				"type": "String"
			},
			"RunEnd": {
				"type": "String"
			},
			"Duration_SS": {
				"type": "String"
			}
		},
		"folder": {
			"name": "OH_D365_DataSync/Child Packages"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-19T16:58:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}