pipeline/PL_LookupEntities.json
{
	"name": "PL_LookupEntities",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Entities",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RunStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGet_PipelineParameters_Entities]",
						"storedProcedureParameters": {
							"entityType": {
								"type": "String",
								"value": "Lookup"
							},
							"pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PipelineName",
									"type": "Expression"
								}
							},
							"sequenceGroup": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SequenceGroup",
									"type": "Expression"
								}
							},
							"srcSystem": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Entity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Entities').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch Entity",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "PipelineParameters LogStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().Entity",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Transaction Currency",
										"activities": [
											{
												"name": "D365_TransactionCurrency to SQL",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "CommonDataServiceForAppsSource",
														"query": {
															"value": "@item().FetchXML",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"writeBehavior": "upsert",
														"upsertSettings": {
															"useTempDB": false,
															"keys": [
																"transactioncurrencyid"
															]
														},
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate"
													},
													"enableStaging": false,
													"enableSkipIncompatibleRow": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "transactioncurrencyid",
																	"type": "Guid"
																},
																"sink": {
																	"name": "transactioncurrencyid",
																	"type": "Guid"
																}
															},
															{
																"source": {
																	"name": "isocurrencycode",
																	"type": "String"
																},
																"sink": {
																	"name": "isocurrencycode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "currencyname",
																	"type": "String"
																},
																"sink": {
																	"name": "currencyname",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "DS_Dataverse",
														"type": "DatasetReference",
														"parameters": {
															"EntityName": "transactioncurrency"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_OnPrem_Tbl",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": {
																"value": "@item().DestServer",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@item().DestDatabase",
																"type": "Expression"
															},
															"SchemaName": {
																"value": "@item().DestSchema",
																"type": "Expression"
															},
															"TableName": {
																"value": "@item().DestEntity",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "PipelineParameters LogEnd - TransactionCurrency",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Script - Entity RowCount - TransactionCurrency",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
													"storedProcedureParameters": {
														"dtLastPipelineRunEnd": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"strEntity": {
															"value": {
																"value": "@item().Entity",
																"type": "Expression"
															},
															"type": "String"
														},
														"strLastPipelineRunStatus": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceSystem": {
															"value": {
																"value": "@item().SrcSystem",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEntityType": {
															"value": {
																"value": "@item().EntityType",
																"type": "Expression"
															},
															"type": "String"
														},
														"intDestEntityRowCount": {
															"value": {
																"value": "@activity('Script - Entity RowCount - TransactionCurrency').output.outputParameters.RowCount",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Script - Entity RowCount - TransactionCurrency",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "D365_TransactionCurrency to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SqlServer_OnPrem",
													"type": "LinkedServiceReference",
													"parameters": {
														"ServerName": {
															"value": "@item().srcServer",
															"type": "Expression"
														},
														"DatabaseName": {
															"value": "@item().srcDatabase",
															"type": "Expression"
														}
													}
												},
												"typeProperties": {
													"scripts": [
														{
															"parameters": [
																{
																	"name": "RowCount",
																	"type": "Int32",
																	"value": null,
																	"direction": "Output"
																}
															],
															"type": "Query",
															"text": {
																"value": "@concat('select @RowCount = count(*) from d365.', item().DestEntity)",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "PipelineAuditDetailLog_2 TransactionCurrency",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "D365_TransactionCurrency to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spInsert_PipelineAuditDetailLog]",
													"storedProcedureParameters": {
														"dtCopyActivity_EndTime": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtCopyActivity_StartTime": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.executionDetails[0].start}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtTriggerTime": {
															"value": {
																"value": "@{pipeline().TriggerTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"intCopyActivity_Stage": {
															"value": "2",
															"type": "Int32"
														},
														"intParallelCopies": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.usedParallelCopies}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsCopied": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsRead": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsSkipped": {
															"value": "0",
															"type": "Int32"
														},
														"intSequenceGroup": {
															"value": {
																"value": "@{pipeline().parameters.SequenceGroup}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"strCopyActivity": {
															"value": "Transformed to Destination",
															"type": "String"
														},
														"strCopyActivity_QueuingDuration_SS": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TimeToFirstByte_SS": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TransferDuration_SS": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.executionDetails[0].detailedDurations.transferDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyDuration_SS": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.copyDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDataFactory": {
															"value": {
																"value": "@{pipeline().DataFactory}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDestination": {
															"value": {
																"value": "@{item().DestEntity}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEffectiveIntegrationRuntime": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.effectiveIntegrationRuntime}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strExecutionStatus": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strPipeline": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSinkType": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.executionDetails[0].sink.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSource": {
															"value": {
																"value": "@{item().SrcStoredProcedure}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceType": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.executionDetails[0].source.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSrcSystem": {
															"value": {
																"value": "@{item().SrcSystem}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerName": {
															"value": {
																"value": "@{pipeline().TriggerName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerType": {
															"value": {
																"value": "@{pipeline().TriggerType}",
																"type": "Expression"
															},
															"type": "String"
														},
														"uniqRunID": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"uniqTriggerID": {
															"value": {
																"value": "@{pipeline().TriggerId}",
																"type": "Expression"
															},
															"type": "Guid"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "String Map",
										"activities": [
											{
												"name": "D365_Stringmap to SQL",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "CommonDataServiceForAppsSource",
														"query": {
															"value": "@item().FetchXML",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"writeBehavior": "upsert",
														"upsertSettings": {
															"useTempDB": false,
															"keys": [
																"stringmapid"
															]
														},
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "attributename",
																	"type": "String"
																},
																"sink": {
																	"name": "attributename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "attributevalue",
																	"type": "Int32"
																},
																"sink": {
																	"name": "attributevalue",
																	"type": "Int32"
																}
															},
															{
																"source": {
																	"name": "objecttypecode",
																	"type": "String"
																},
																"sink": {
																	"name": "objecttypecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "value",
																	"type": "String"
																},
																"sink": {
																	"name": "value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stringmapid",
																	"type": "Guid"
																},
																"sink": {
																	"name": "stringmapid",
																	"type": "Guid"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "DS_Dataverse",
														"type": "DatasetReference",
														"parameters": {
															"EntityName": "stringmap"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_OnPrem_Tbl",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": {
																"value": "@item().DestServer",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@item().DestDatabase",
																"type": "Expression"
															},
															"SchemaName": {
																"value": "@item().DestSchema",
																"type": "Expression"
															},
															"TableName": {
																"value": "@item().DestEntity",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "PipelineParameters LogEnd - Stringmap",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Script - Entity RowCount - Stringmap",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
													"storedProcedureParameters": {
														"dtLastPipelineRunEnd": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"strEntity": {
															"value": {
																"value": "@item().Entity",
																"type": "Expression"
															},
															"type": "String"
														},
														"strLastPipelineRunStatus": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceSystem": {
															"value": {
																"value": "@item().SrcSystem",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEntityType": {
															"value": {
																"value": "@item().EntityType",
																"type": "Expression"
															},
															"type": "String"
														},
														"intDestEntityRowCount": {
															"value": {
																"value": "@activity('Script - Entity RowCount - Stringmap').output.outputParameters.RowCount",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Script - Entity RowCount - Stringmap",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "D365_Stringmap to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SqlServer_OnPrem",
													"type": "LinkedServiceReference",
													"parameters": {
														"ServerName": {
															"value": "@item().srcServer",
															"type": "Expression"
														},
														"DatabaseName": {
															"value": "@item().srcDatabase",
															"type": "Expression"
														}
													}
												},
												"typeProperties": {
													"scripts": [
														{
															"parameters": [
																{
																	"name": "RowCount",
																	"type": "Int32",
																	"value": null,
																	"direction": "Output"
																}
															],
															"type": "Query",
															"text": {
																"value": "@concat('select @RowCount = count(*) from d365.', item().DestEntity)",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "PipelineAuditDetailLog_2 Stringmap",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "D365_Stringmap to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spInsert_PipelineAuditDetailLog]",
													"storedProcedureParameters": {
														"dtCopyActivity_EndTime": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtCopyActivity_StartTime": {
															"value": {
																"value": "@{activity('D365_TransactionCurrency to SQL').output.executionDetails[0].start}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtTriggerTime": {
															"value": {
																"value": "@{pipeline().TriggerTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"intCopyActivity_Stage": {
															"value": "2",
															"type": "Int32"
														},
														"intParallelCopies": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.usedParallelCopies}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsCopied": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsRead": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsSkipped": {
															"value": "0",
															"type": "Int32"
														},
														"intSequenceGroup": {
															"value": {
																"value": "@{pipeline().parameters.SequenceGroup}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"strCopyActivity": {
															"value": "Transformed to Destination",
															"type": "String"
														},
														"strCopyActivity_QueuingDuration_SS": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TimeToFirstByte_SS": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TransferDuration_SS": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.executionDetails[0].detailedDurations.transferDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyDuration_SS": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.copyDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDataFactory": {
															"value": {
																"value": "@{pipeline().DataFactory}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDestination": {
															"value": {
																"value": "@{item().DestEntity}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEffectiveIntegrationRuntime": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.effectiveIntegrationRuntime}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strExecutionStatus": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strPipeline": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSinkType": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.executionDetails[0].sink.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSource": {
															"value": {
																"value": "@{item().SrcStoredProcedure}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceType": {
															"value": {
																"value": "@{activity('D365_Stringmap to SQL').output.executionDetails[0].source.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSrcSystem": {
															"value": {
																"value": "@{item().SrcSystem}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerName": {
															"value": {
																"value": "@{pipeline().TriggerName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerType": {
															"value": {
																"value": "@{pipeline().TriggerType}",
																"type": "Expression"
															},
															"type": "String"
														},
														"uniqRunID": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"uniqTriggerID": {
															"value": {
																"value": "@{pipeline().TriggerId}",
																"type": "Expression"
															},
															"type": "Guid"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "Ref Entity Code Map",
										"activities": [
											{
												"name": "Reference Entity Code Map to SQL",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"preCopyScript": "truncate table adf.ReferenceEntityCodeMap",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "ID",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "ID",
																	"type": "Int32"
																}
															},
															{
																"source": {
																	"name": "SourceSystem",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "SourceSystem",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "SourceSchema",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "SourceSchema",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "SourceTable",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "SourceTable",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "SourceCode",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "SourceCode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Entity",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Entity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "EntityQualifiedName",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "EntityQualifiedName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "EntityCode",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "EntityCode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "EntityValue",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "EntityValue",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "WaterlooCode",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "WaterlooCode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FortisCode",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "FortisCode",
																	"type": "String"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_Excel_ReferenceEntityCodeMap",
														"type": "DatasetReference",
														"parameters": {
															"Container": {
																"value": "@item().DatalakeContainer",
																"type": "Expression"
															},
															"Directory": {
																"value": "@item().DatalakeDirectory_Config",
																"type": "Expression"
															},
															"Filename": {
																"value": "@item().DatalakeFilename",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_OnPrem_Tbl",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": {
																"value": "@item().DestServer",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@item().DestDatabase",
																"type": "Expression"
															},
															"SchemaName": {
																"value": "@item().DestSchema",
																"type": "Expression"
															},
															"TableName": {
																"value": "@item().DestEntity",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "PipelineParameters LogEnd - RefEntityCodeMap",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Script - Entity RowCount - Reference Entity Code Map",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
													"storedProcedureParameters": {
														"dtLastPipelineRunEnd": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"strEntity": {
															"value": {
																"value": "@item().Entity",
																"type": "Expression"
															},
															"type": "String"
														},
														"strLastPipelineRunStatus": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceSystem": {
															"value": {
																"value": "@item().SrcSystem",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEntityType": {
															"value": {
																"value": "@item().EntityType",
																"type": "Expression"
															},
															"type": "String"
														},
														"intDestEntityRowCount": {
															"value": {
																"value": "@activity('Script - Entity RowCount - Reference Entity Code Map').output.outputParameters.RowCount",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Script - Entity RowCount - Reference Entity Code Map",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "Reference Entity Code Map to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SqlServer_OnPrem",
													"type": "LinkedServiceReference",
													"parameters": {
														"ServerName": {
															"value": "@item().srcServer",
															"type": "Expression"
														},
														"DatabaseName": {
															"value": "@item().srcDatabase",
															"type": "Expression"
														}
													}
												},
												"typeProperties": {
													"scripts": [
														{
															"parameters": [
																{
																	"name": "RowCount",
																	"type": "Int32",
																	"value": null,
																	"direction": "Output"
																}
															],
															"type": "Query",
															"text": {
																"value": "@concat('select @RowCount = count(*) from adf.', item().DestEntity)",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "PipelineAuditDetailLog_2 Stringmap_copy1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Reference Entity Code Map to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spInsert_PipelineAuditDetailLog]",
													"storedProcedureParameters": {
														"dtCopyActivity_EndTime": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtCopyActivity_StartTime": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.executionDetails[0].start}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtTriggerTime": {
															"value": {
																"value": "@{pipeline().TriggerTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"intCopyActivity_Stage": {
															"value": "2",
															"type": "Int32"
														},
														"intParallelCopies": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.usedParallelCopies}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsCopied": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsRead": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsSkipped": {
															"value": "0",
															"type": "Int32"
														},
														"intSequenceGroup": {
															"value": {
																"value": "@{pipeline().parameters.SequenceGroup}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"strCopyActivity": {
															"value": "Transformed to Destination",
															"type": "String"
														},
														"strCopyActivity_QueuingDuration_SS": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TimeToFirstByte_SS": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TransferDuration_SS": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.executionDetails[0].detailedDurations.transferDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyDuration_SS": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.copyDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDataFactory": {
															"value": {
																"value": "@{pipeline().DataFactory}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDestination": {
															"value": {
																"value": "@{item().DestEntity}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEffectiveIntegrationRuntime": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.effectiveIntegrationRuntime}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strExecutionStatus": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strPipeline": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSinkType": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.executionDetails[0].sink.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSource": {
															"value": {
																"value": "@{item().SrcStoredProcedure}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceType": {
															"value": {
																"value": "@{activity('Reference Entity Code Map to SQL').output.executionDetails[0].source.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSrcSystem": {
															"value": {
																"value": "@{item().SrcSystem}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerName": {
															"value": {
																"value": "@{pipeline().TriggerName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerType": {
															"value": {
																"value": "@{pipeline().TriggerType}",
																"type": "Expression"
															},
															"type": "String"
														},
														"uniqRunID": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"uniqTriggerID": {
															"value": {
																"value": "@{pipeline().TriggerId}",
																"type": "Expression"
															},
															"type": "Guid"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "Business Unit",
										"activities": [
											{
												"name": "D365_BusinessUnit to SQL",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "CommonDataServiceForAppsSource",
														"query": {
															"value": "@item().FetchXML",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"writeBehavior": "upsert",
														"upsertSettings": {
															"useTempDB": false,
															"keys": [
																"businessunitid"
															]
														},
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "businessunitid",
																	"type": "Guid"
																},
																"sink": {
																	"name": "businessunitid",
																	"type": "Guid"
																}
															},
															{
																"source": {
																	"name": "name",
																	"type": "String"
																},
																"sink": {
																	"name": "name",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "DS_Dataverse",
														"type": "DatasetReference",
														"parameters": {
															"EntityName": "businessunit"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_OnPrem_Tbl",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": {
																"value": "@item().DestServer",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@item().DestDatabase",
																"type": "Expression"
															},
															"SchemaName": {
																"value": "@item().DestSchema",
																"type": "Expression"
															},
															"TableName": {
																"value": "@item().DestEntity",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "PipelineParameters LogEnd - BusinessUnit",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Script - Entity RowCount - BusinessUnit",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
													"storedProcedureParameters": {
														"dtLastPipelineRunEnd": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"strEntity": {
															"value": {
																"value": "@item().Entity",
																"type": "Expression"
															},
															"type": "String"
														},
														"strLastPipelineRunStatus": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceSystem": {
															"value": {
																"value": "@item().SrcSystem",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEntityType": {
															"value": {
																"value": "@item().EntityType",
																"type": "Expression"
															},
															"type": "String"
														},
														"intDestEntityRowCount": {
															"value": {
																"value": "@activity('Script - Entity RowCount - BusinessUnit').output.outputParameters.RowCount",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Script - Entity RowCount - BusinessUnit",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "D365_BusinessUnit to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SqlServer_OnPrem",
													"type": "LinkedServiceReference",
													"parameters": {
														"ServerName": {
															"value": "@item().srcServer",
															"type": "Expression"
														},
														"DatabaseName": {
															"value": "@item().srcDatabase",
															"type": "Expression"
														}
													}
												},
												"typeProperties": {
													"scripts": [
														{
															"parameters": [
																{
																	"name": "RowCount",
																	"type": "Int32",
																	"value": null,
																	"direction": "Output"
																}
															],
															"type": "Query",
															"text": {
																"value": "@concat('select @RowCount = count(*) from d365.', item().DestEntity)",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "PipelineAuditDetailLog_2 BusinessUnit",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "D365_BusinessUnit to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spInsert_PipelineAuditDetailLog]",
													"storedProcedureParameters": {
														"dtCopyActivity_EndTime": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtCopyActivity_StartTime": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.executionDetails[0].start}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtTriggerTime": {
															"value": {
																"value": "@{pipeline().TriggerTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"intCopyActivity_Stage": {
															"value": "2",
															"type": "Int32"
														},
														"intParallelCopies": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.usedParallelCopies}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsCopied": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsRead": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsSkipped": {
															"value": "0",
															"type": "Int32"
														},
														"intSequenceGroup": {
															"value": {
																"value": "@{pipeline().parameters.SequenceGroup}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"strCopyActivity": {
															"value": "Transformed to Destination",
															"type": "String"
														},
														"strCopyActivity_QueuingDuration_SS": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TimeToFirstByte_SS": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TransferDuration_SS": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.executionDetails[0].detailedDurations.transferDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyDuration_SS": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.copyDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDataFactory": {
															"value": {
																"value": "@{pipeline().DataFactory}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDestination": {
															"value": {
																"value": "@{item().DestEntity}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEffectiveIntegrationRuntime": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.effectiveIntegrationRuntime}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strExecutionStatus": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strPipeline": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSinkType": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.executionDetails[0].sink.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSource": {
															"value": {
																"value": "@{item().SrcStoredProcedure}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceType": {
															"value": {
																"value": "@{activity('D365_BusinessUnit to SQL').output.executionDetails[0].source.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSrcSystem": {
															"value": {
																"value": "@{item().SrcSystem}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerName": {
															"value": {
																"value": "@{pipeline().TriggerName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerType": {
															"value": {
																"value": "@{pipeline().TriggerType}",
																"type": "Expression"
															},
															"type": "String"
														},
														"uniqRunID": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"uniqTriggerID": {
															"value": {
																"value": "@{pipeline().TriggerId}",
																"type": "Expression"
															},
															"type": "Guid"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "Local Authorities",
										"activities": [
											{
												"name": "Local Authorities to SQL",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"preCopyScript": "truncate table adf.LocalAuthorities",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "PHGRef",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "PHGRef",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "PAF_LocalAuthorityCode",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "PAF_LocalAuthorityCode",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "PAF_LocalAuthorityName",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "PAF_LocalAuthorityName",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_Excel_LocalAuthorities",
														"type": "DatasetReference",
														"parameters": {
															"Container": {
																"value": "@item().DatalakeContainer",
																"type": "Expression"
															},
															"Directory": {
																"value": "@item().DatalakeDirectory_Config",
																"type": "Expression"
															},
															"Filename": {
																"value": "@item().DatalakeFilename",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_OnPrem_Tbl",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": {
																"value": "@item().DestServer",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@item().DestDatabase",
																"type": "Expression"
															},
															"SchemaName": {
																"value": "@item().DestSchema",
																"type": "Expression"
															},
															"TableName": {
																"value": "@item().DestEntity",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "PipelineParameters LogEnd - LocalAuthorities",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Script - Entity RowCount - Local Authorities",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
													"storedProcedureParameters": {
														"dtLastPipelineRunEnd": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"strEntity": {
															"value": {
																"value": "@item().Entity",
																"type": "Expression"
															},
															"type": "String"
														},
														"strLastPipelineRunStatus": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceSystem": {
															"value": {
																"value": "@item().SrcSystem",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEntityType": {
															"value": {
																"value": "@item().EntityType",
																"type": "Expression"
															},
															"type": "String"
														},
														"intDestEntityRowCount": {
															"value": {
																"value": "@activity('Script - Entity RowCount - Local Authorities').output.outputParameters.RowCount",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Script - Entity RowCount - Local Authorities",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "Local Authorities to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SqlServer_OnPrem",
													"type": "LinkedServiceReference",
													"parameters": {
														"ServerName": {
															"value": "@item().srcServer",
															"type": "Expression"
														},
														"DatabaseName": {
															"value": "@item().srcDatabase",
															"type": "Expression"
														}
													}
												},
												"typeProperties": {
													"scripts": [
														{
															"parameters": [
																{
																	"name": "RowCount",
																	"type": "Int32",
																	"value": null,
																	"direction": "Output"
																}
															],
															"type": "Query",
															"text": {
																"value": "@concat('select @RowCount = count(*) from adf.', item().DestEntity)",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "PipelineAuditDetailLog_2 LocalAuthorities",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Local Authorities to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spInsert_PipelineAuditDetailLog]",
													"storedProcedureParameters": {
														"dtCopyActivity_EndTime": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtCopyActivity_StartTime": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.executionDetails[0].start}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtTriggerTime": {
															"value": {
																"value": "@{pipeline().TriggerTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"intCopyActivity_Stage": {
															"value": "2",
															"type": "Int32"
														},
														"intParallelCopies": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.usedParallelCopies}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsCopied": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsRead": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsSkipped": {
															"value": "0",
															"type": "Int32"
														},
														"intSequenceGroup": {
															"value": {
																"value": "@{pipeline().parameters.SequenceGroup}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"strCopyActivity": {
															"value": "Transformed to Destination",
															"type": "String"
														},
														"strCopyActivity_QueuingDuration_SS": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TimeToFirstByte_SS": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TransferDuration_SS": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.executionDetails[0].detailedDurations.transferDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyDuration_SS": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.copyDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDataFactory": {
															"value": {
																"value": "@{pipeline().DataFactory}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDestination": {
															"value": {
																"value": "@{item().DestEntity}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEffectiveIntegrationRuntime": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.effectiveIntegrationRuntime}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strExecutionStatus": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strPipeline": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSinkType": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.executionDetails[0].sink.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSource": {
															"value": {
																"value": "@{item().SrcStoredProcedure}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceType": {
															"value": {
																"value": "@{activity('Local Authorities to SQL').output.executionDetails[0].source.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSrcSystem": {
															"value": {
																"value": "@{item().SrcSystem}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerName": {
															"value": {
																"value": "@{pipeline().TriggerName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerType": {
															"value": {
																"value": "@{pipeline().TriggerType}",
																"type": "Expression"
															},
															"type": "String"
														},
														"uniqRunID": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"uniqTriggerID": {
															"value": {
																"value": "@{pipeline().TriggerId}",
																"type": "Expression"
															},
															"type": "Guid"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "System User",
										"activities": [
											{
												"name": "D365_SystemUser to SQL",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "CommonDataServiceForAppsSource",
														"query": {
															"value": "@item().FetchXML",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"writeBehavior": "upsert",
														"upsertSettings": {
															"useTempDB": false,
															"keys": [
																"systemuserid"
															]
														},
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "systemuserid",
																	"type": "Guid"
																},
																"sink": {
																	"name": "systemuserid",
																	"type": "Guid"
																}
															},
															{
																"source": {
																	"name": "internalemailaddress",
																	"type": "String"
																},
																"sink": {
																	"name": "internalemailaddress",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "fullname",
																	"type": "String"
																},
																"sink": {
																	"name": "fullname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "createdon",
																	"type": "DateTime"
																},
																"sink": {
																	"name": "createdon",
																	"type": "DateTime"
																}
															},
															{
																"source": {
																	"name": "createdby",
																	"type": "Guid"
																},
																"sink": {
																	"name": "createdby",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "modifiedon",
																	"type": "DateTime"
																},
																"sink": {
																	"name": "modifiedon",
																	"type": "DateTime"
																}
															},
															{
																"source": {
																	"name": "modifiedby",
																	"type": "Guid"
																},
																"sink": {
																	"name": "modifiedby",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "DS_Dataverse",
														"type": "DatasetReference",
														"parameters": {
															"EntityName": "systemuser"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_OnPrem_Tbl",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": {
																"value": "@item().DestServer",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@item().DestDatabase",
																"type": "Expression"
															},
															"SchemaName": {
																"value": "@item().DestSchema",
																"type": "Expression"
															},
															"TableName": {
																"value": "@item().DestEntity",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "PipelineParameters LogEnd - SystemUser",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Script - Entity RowCount - SystemUser",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
													"storedProcedureParameters": {
														"dtLastPipelineRunEnd": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"strEntity": {
															"value": {
																"value": "@item().Entity",
																"type": "Expression"
															},
															"type": "String"
														},
														"strLastPipelineRunStatus": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceSystem": {
															"value": {
																"value": "@item().SrcSystem",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEntityType": {
															"value": {
																"value": "@item().EntityType",
																"type": "Expression"
															},
															"type": "String"
														},
														"intDestEntityRowCount": {
															"value": {
																"value": "@activity('Script - Entity RowCount - SystemUser').output.outputParameters.RowCount",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Script - Entity RowCount - SystemUser",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "D365_SystemUser to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SqlServer_OnPrem",
													"type": "LinkedServiceReference",
													"parameters": {
														"ServerName": {
															"value": "@item().srcServer",
															"type": "Expression"
														},
														"DatabaseName": {
															"value": "@item().srcDatabase",
															"type": "Expression"
														}
													}
												},
												"typeProperties": {
													"scripts": [
														{
															"parameters": [
																{
																	"name": "RowCount",
																	"type": "Int32",
																	"value": null,
																	"direction": "Output"
																}
															],
															"type": "Query",
															"text": {
																"value": "@concat('select @RowCount = count(*) from d365.', item().DestEntity)",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "PipelineAuditDetailLog_2 SystemUser",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "D365_SystemUser to SQL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[spInsert_PipelineAuditDetailLog]",
													"storedProcedureParameters": {
														"dtCopyActivity_EndTime": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtCopyActivity_StartTime": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.executionDetails[0].start}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"dtTriggerTime": {
															"value": {
																"value": "@{pipeline().TriggerTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"intCopyActivity_Stage": {
															"value": "2",
															"type": "Int32"
														},
														"intParallelCopies": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.usedParallelCopies}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsCopied": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsRead": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"intRowsSkipped": {
															"value": "0",
															"type": "Int32"
														},
														"intSequenceGroup": {
															"value": {
																"value": "@{pipeline().parameters.SequenceGroup}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"strCopyActivity": {
															"value": "Transformed to Destination",
															"type": "String"
														},
														"strCopyActivity_QueuingDuration_SS": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TimeToFirstByte_SS": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyActivity_TransferDuration_SS": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.executionDetails[0].detailedDurations.transferDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strCopyDuration_SS": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.copyDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDataFactory": {
															"value": {
																"value": "@{pipeline().DataFactory}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strDestination": {
															"value": {
																"value": "@{item().DestEntity}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strEffectiveIntegrationRuntime": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.effectiveIntegrationRuntime}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strExecutionStatus": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strPipeline": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSinkType": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.executionDetails[0].sink.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSource": {
															"value": {
																"value": "@{item().SrcStoredProcedure}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSourceType": {
															"value": {
																"value": "@{activity('D365_SystemUser to SQL').output.executionDetails[0].source.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strSrcSystem": {
															"value": {
																"value": "@{item().SrcSystem}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerName": {
															"value": {
																"value": "@{pipeline().TriggerName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"strTriggerType": {
															"value": {
																"value": "@{pipeline().TriggerType}",
																"type": "Expression"
															},
															"type": "String"
														},
														"uniqRunID": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"uniqTriggerID": {
															"value": {
																"value": "@{pipeline().TriggerId}",
																"type": "Expression"
															},
															"type": "Guid"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "Control",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "PipelineParameters LogStart",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogStart]",
								"storedProcedureParameters": {
									"dtLastPipelineRunStart": {
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"guidLastPipelineRun": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"strEntity": {
										"value": {
											"value": "@item().Entity",
											"type": "Expression"
										},
										"type": "String"
									},
									"strSourceSystem": {
										"value": {
											"value": "@item().SrcSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"strEntityType": {
										"value": {
											"value": "@item().EntityType",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Control",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "RunStart",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunStart",
					"value": {
						"value": "@string(utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RunEnd",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Entity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunEnd",
					"value": {
						"value": "@string(utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Duration_SS",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunEnd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Duration_SS",
					"value": {
						"value": "@string(div(sub(ticks(formatDateTime(variables('RunEnd'))),ticks(formatDateTime(variables('RunStart')))),10000000))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PipelineAuditLog - Start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RunStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spInsert_PipelineAuditLog_Start]",
					"storedProcedureParameters": {
						"dtRunStart": {
							"value": {
								"value": "@variables('RunStart')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"dtTriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"strDataFactory": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strPipeline": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strStatus": {
							"value": "In Progress",
							"type": "String"
						},
						"strTriggeredByPipelineName": {
							"value": {
								"value": "@{pipeline()?.TriggeredByPipelineName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strTriggeredByPipelineRunID": {
							"value": {
								"value": "@{pipeline()?.TriggeredByPipelineRunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strTriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"strTriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"uniqGroupID": {
							"value": {
								"value": "@{pipeline().GroupId}",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"uniqRunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"uniqTriggerID": {
							"value": {
								"value": "@guid()",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"strSequenceList": {
							"value": "[L]",
							"type": "String"
						},
						"strLoadType": {
							"value": {
								"value": "@pipeline().parameters.LoadType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Control",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PipelineAuditLog - End - Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Duration_SS",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spUpdate_PipelineAuditLog_End]",
					"storedProcedureParameters": {
						"dtRunEnd": {
							"value": {
								"value": "@variables('RunEnd')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"intDuration_SS": {
							"value": {
								"value": "@variables('Duration_SS')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"strStatus": {
							"value": "Succeeded",
							"type": "String"
						},
						"uniqRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Control",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PipelineAuditLog - End - Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Entity",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spUpdate_PipelineAuditLog_End]",
					"storedProcedureParameters": {
						"dtRunEnd": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"intDuration_SS": {
							"value": "0",
							"type": "Int32"
						},
						"strStatus": {
							"value": "Failed",
							"type": "String"
						},
						"uniqRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Control",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "string"
			},
			"SourceSystemName": {
				"type": "string"
			},
			"SequenceGroup": {
				"type": "int"
			},
			"LoadType": {
				"type": "string"
			}
		},
		"variables": {
			"RunStart": {
				"type": "String"
			},
			"RunEnd": {
				"type": "String"
			},
			"Duration_SS": {
				"type": "String"
			}
		},
		"folder": {
			"name": "OH_D365_DataSync/Child Packages"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-19T16:58:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}